{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="uk-tile uk-tile-default uk-padding-small">Charger des commandes en vanilla JS</h1>
    <!-- Filtre des commandes -->
    <form>
        <label for="order-filter">Filtre des commandes :</label>
        <select id="order-filter">
            <option value="">-- Filtre par statut ---</option>
            <option value="new">new</option>
            <option value="shipped">shipped</option>
            <option value="canceled">canceled</option>
        </select>
    </form>
    <!-- Liste des commandes -->
    <ul id="orders"></ul>

    <script type="application/javascript">
        function fetchOrders(filter) {
            let httpRequest = new XMLHttpRequest()
            let ordersDom = document.getElementById('orders')
            httpRequest.onreadystatechange = function(data) {
                if(this.readyState === XMLHttpRequest.DONE)
                {
                    if (this.status === 200)
                    {
                        ordersDom.innerHTML = ""
                        data = JSON.parse(this.responseText)
                        data.forEach(function(order)
                        {
                            let content = document.querySelector('template').content
                            content.querySelector('span.order-id').textContent = order.id
                            content.querySelector('span.order-date').textContent = order.created_at
                            content.querySelector('span.order-customer').textContent = order.firstname + ' ' + order.lastname
                            content.querySelector('span.order-status').textContent = order.status
                            ordersDom.appendChild(
                                document.importNode(content, true)
                            )
                        })
                    }
                    else if (this.status === 404 || this.status === 500)
                    {
                        alert("Une erreur est survenue, réessayez svp")
                        console.warn('An error has occured, please try again.')
                        console.warn('Status: ' + this.status)
                    }
                }
            }
            httpRequest.open("GET", '/api/orders/random?filter=' + filter)
            httpRequest.send()
        }

        document.addEventListener("DOMContentLoaded", function() {
            let filter = document.getElementById('order-filter').value
            fetchOrders(filter)
        });

        document.getElementById('order-filter').onchange = function() {
            let filter = document.getElementById('order-filter').value
            fetchOrders(filter)
        }
    </script>
    <!-- Template -->
    <template id="order-line">
        <li data-status="">
            <span class="order-id" style="display: inline-block; width: 50px;"></span>
            <span class="order-date" style="display: inline-block; width: 250px;"></span>
            <span class="order-customer" style="display: inline-block; width: 300px;"></span>
            <span class="order-status" style="display: inline-block; width: 100px;"></span>
        </li>
    </template>
{% endblock %}
